PORT=4000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=change_me_with_a_long_random_secret

DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_PORT=1433
DB_DATABASE=EasySell
DB_USER=easysell_user
DB_PASSWORD=Usarb1234
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
